{% extends "::principal_layout.html.twig" %}

{% block body %}
{% javascripts '@VieilleSardineUserBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@VieilleSardineUserBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<center>
    <br>
<fieldset>
    <legend>Votre Panier</legend>
    <br>
{% if noPanier is not defined  %}
{% if prod is defined %}
{% if prod | length >0 %}
    
<table>
    <tr>
    <th>Libellé</th>
    <th>Quantités</th>
    <th>Prix</th>
    <th>Action</th>
    </tr>
    {% if prod is defined %}
    {% for users in prod %}
        {% if users is defined %}
        <tr>
            <td>
                {% if users is defined %} 
                {{ users.titre }} 
                {% endif %}
            </td> 
            <td>
                <form method="POST" action="{{ path('vieille_sardine_panier_update', { 'id': des[users.idProduit].idLigne }) }}">
                    {{ form_widget(form[users.idProduit], {'attr' :{'class':'controle'} }) }}
                    <input value="update" type="submit" class="btn_submit"/>
                </form>
            <td>
                 {% if users is defined %}
                 {{ users.prixTtc }} € 
                 {% endif %}
                 </td> 
                 <td><a href="{{path('vieille_sardine_panier_delete', { 'id': des[users.idProduit].idLigne })}} " class="suprime" name=""> supprimer </a> </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endif %}
    
    <tr>
        <td></td> <td></td> <td></td>
        <td>
    <a href="{{path('info_commande_simple')}}">Valider</a>
        </td>
    </tr>
</table>
    {% elseif prod | length == 0 %}
        <h1>VOTRE PANIER EST VIDE</h1>
    {% else %}
{% endif %}
    {% else %}
        <h1>VOTRE PANIER EST VIDE</h1>
{% endif %}
{% else %}
    <h1>ACTIVER VOTRE PANIER</h1>
{% endif %}   
</fieldset>
</center>
{% endblock %}