{% extends "::principal_layout.html.twig" %}

{% block body %}
<!-- Optional theme -->
{#<link rel="stylesheet" href="../../css/bootstrap-theme.min_1.css">
{#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">#}
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>#}
<!-- Latest compiled and minified JavaScript -->
{#<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
{#<script type="text/javascript" src="../../public/js/jquery-2.1.0.min.js"></script>#}
{#<script type="text/javascript" src="../../public/js/jquery.validate.js"></script>#}
{% javascripts '@VieilleSardineUserBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@VieilleSardineUserBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<center>
<br>
<br>
{#<fieldset>#}
<h1>Vos données</h1>
<table>
<!--abc-->
{{ form_start(form, { 'attr': {'id': 'formuleID', 'class':'form-inline', 'role':"form"} }) }}
    {{ form_errors(form) }}
    <tr class="control-group">
        <td class="control-label">{{ form_label(form.civilite) }}</td>
        <td>{{ form_errors(form.civilite) }}
        {{ form_widget(form.civilite) }}</td>
    </tr>
    <tr class="control-group">
        <td class="control-label">{{ form_label(form.nom) }}</td>
        <td>{{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
        <td class="control-label">{{ form_label(form.prenom) }}</td>
        <td>{{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.telPrincipal) }}</td>
        <td>{{ form_errors(form.telPrincipal) }}
        {{ form_widget(form.telPrincipal) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.telSecondaire) }}</td>
        <td>{{ form_errors(form.telSecondaire) }}
        {{ form_widget(form.telSecondaire) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.sexe) }}</td>
        <td>{{ form_widget(form.sexe) }}{{ form_errors(form.sexe) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.numeroVoie) }}</td>
        <td>{{ form_errors(form.numeroVoie) }}
        {{ form_widget(form.numeroVoie) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.typeVoie) }}</td>
        <td>{{ form_errors(form.typeVoie) }}
        {{ form_widget(form.typeVoie) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.nomVoie) }}</td>
        <td>{{ form_errors(form.nomVoie) }}
        {{ form_widget(form.nomVoie) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.codePostal) }}</td>
        <td>{{ form_errors(form.codePostal) }}
        {{ form_widget(form.codePostal) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.ville) }}</td>
        <td>{{ form_errors(form.ville) }}
        {{ form_widget(form.ville) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.pays) }}</td>
        <td>{{ form_errors(form.pays) }}
        {{ form_widget(form.pays) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.clientALivrer) }}</td>
        <td>{{ form_errors(form.clientALivrer) }}
        {{ form_widget(form.clientALivrer) }}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input class="btn btn-primary" type="submit" id="btn_submit"/>        
        </td>
{#        <td>&nbsp;</td>#}
{#        <td>&nbsp;</td>#}
        {#<td>
            <a class="btn btn-info" href="{{ path('user_show_personal_data') }}"/>Retour</a>
            
        </td>#}
{#        <td></td>#}
    </tr>
{{ form_end(form) }}
</table>
<br>
<div id="test"></div>
{#</fields  et>#}
</center>
<script>
/*
$(function(){  
    alert('1ere partie ok');
    $('#form_nom, #form_prenom,#form_nomVoie,#form_pays').keyUp(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var inputVal = $(this).val();
        var characterReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var caracterReg = /^([a-zA-Z0-9\s]{4,40})$/;
        if(!characterReg.test(inputVal)){
            $(this).addClass("error")
        }
    });

    
    $('#form_telPrincipal, #form_telSecondaire').keyup(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var characterReg = /^([a-zA-Z0-9]{10,10})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
    });
    
    $('#form_codePostal').keyup(function() {
       $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var characterReg = /^([a-zA-Z0-9]{5,5})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
    });
    
    $('#form_telSecondaire').blur(function() {
        if($(this).val()===""){
            $(this).removeClass("error");
            $(this).val(0);
        }
    });
    
     $('#form_numeroVoie').keyup(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error");
        }
        var characterReg = /^([a-zA-Z0-9]{0,10})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error");
        }
        if($(this).val()===""){
             $(this).addClass("error");
        }
    });
    
    $('#btn_submit').click(function() {
        if($('input.error').length > 0){
          alert('Formulaire Incorrect');
          return false;
        } else {
            $('#test').html('<div class="valide">'+  
                '<strong>Formulaire Validé!</strong></div>'); 
        }
      });
      
});
*/
$(function() {
        var searchElement = document.getElementById('form_ville'),
        results = document.getElementById('results'),
        selectedResult = -1, // Permet de savoir quel résultat est sélectionné : -1 signifie « aucune sélection »
        previousRequest, // On stocke notre précédente requête dans cette variable
        previousValue = searchElement.value; // On fait de même avec la précédente valeur


    function getResults(keywords) { // Effectue une requête et récupère les résultats
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ path('user_search_cities') }}' +'?s=' + encodeURIComponent(keywords));
        
        xhr.onreadystatechange = function() {
            displayResults(xhr.responseText);
            if (xhr.readyState == 4 && xhr.status == 200) {
                displayResults(xhr.responseText);
            }
        };

        xhr.send(null);

        return xhr;

    }

    function displayResults(response) { // Affiche les résultats d'une requête
      
        results.style.display = response.length ? 'block' : 'none'; // On cache le conteneur si on n'a pas de résultats

        if (response.length) { // On ne modifie les résultats que si on en a obtenu

            response = response.split('|');
            var responseLen = response.length;

            results.innerHTML = ''; // On vide les résultats

            for (var i = 0, div ; i < responseLen ; i++) {

                div = results.appendChild(document.createElement('div'));
                div.innerHTML = response[i];
                
                div.onclick = function() {
                    chooseResult(this);
                };

            }

        }

    }

    function chooseResult(result) { // Choisit un des résultats d'une requête et gère tout ce qui y est attaché
      
        searchElement.value = previousValue = result.innerHTML; // On change le contenu du champ de recherche et on enregistre en tant que précédente valeur
        results.style.display = 'none'; // On cache les résultats
        result.className = ''; // On supprime l'effet de focus
        selectedResult = -1; // On remet la sélection à zéro
        searchElement.focus(); // Si le résultat a été choisi par le biais d'un clic, alors le focus est perdu, donc on le réattribue

    }



    searchElement.onkeyup = function(e) {
      
        e = e || window.event; // On n'oublie pas la compatibilité pour IE

        var divs = results.getElementsByTagName('div');

        if (e.keyCode == 38 && selectedResult > -1) { // Si la touche pressée est la flèche « haut »
          
            divs[selectedResult--].className = '';
            
            if (selectedResult > -1) { // Cette condition évite une modification de childNodes[-1], qui n'existe pas, bien entendu
                divs[selectedResult].className = 'result_focus';
            }

        }

        else if (e.keyCode == 40 && selectedResult < divs.length - 1) { // Si la touche pressée est la flèche « bas »
          
            results.style.display = 'block'; // On affiche les résultats

            if (selectedResult > -1) { // Cette condition évite une modification de childNodes[-1], qui n'existe pas, bien entendu
                divs[selectedResult].className = '';
            }

            divs[++selectedResult].className = 'result_focus';

        }

        else if (e.keyCode == 13 && selectedResult > -1) { // Si la touche pressée est « Entrée »
          
            chooseResult(divs[selectedResult]);

        }

        else if (searchElement.value != previousValue) { // Si le contenu du champ de recherche a changé

            previousValue = searchElement.value;

            if (previousRequest && previousRequest.readyState < 4) {
                previousRequest.abort(); // Si on a toujours une requête en cours, on l'arrête
            }

            previousRequest = getResults(previousValue); // On stocke la nouvelle requête

            selectedResult = -1; // On remet la sélection à zéro à chaque caractère écrit

        }

    };

    $('#form_nom, #form_prenom,#form_nomVoie,#form_pays').keyUp(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var inputVal = $(this).val();
        var characterReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var caracterReg = /^([a-zA-Z0-9\s]{4,40})$/;
        if(!characterReg.test(inputVal)){
            $(this).addClass("error")
        }
    });

    
    $('#form_telPrincipal, #form_telSecondaire').keyup(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var characterReg = /^([a-zA-Z0-9]{10,10})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
    });
    
    $('#form_codePostal').keyup(function() {
       $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error")
        }
        var characterReg = /^([a-zA-Z0-9]{5,5})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error")
        }
    });
    
    $('#form_telSecondaire').blur(function() {
        if($(this).val()===""){
            $(this).removeClass("error");
            $(this).val(0);
        }
    });
    
     $('#form_numeroVoie').keyup(function() {
        $(this).removeClass("error")
        var inputVal = $(this).val();
        var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
        if(!numericReg.test(inputVal)) {
            $(this).addClass("error");
        }
        var characterReg = /^([a-zA-Z0-9]{0,10})$/;
        if(!characterReg.test(inputVal)) {
            $(this).addClass("error");
        }
        if($(this).val()===""){
             $(this).addClass("error");
        }
    });
    
    $('#btn_submit').click(function() {
        if($('input.error').length > 0){
          alert('Formulaire Incorrect');
          return false;
        } else {
            $('#test').html('<div class="valide">'+  
                '<strong>Formulaire Validé!</strong></div>'); 
        }
      });

})();
</script>
<style>
.error
{
 border:3px solid red;
}

.valide
{
 color: green;
}
</style>
{% endblock %}