{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% javascripts '@VieilleSardineUserBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@VieilleSardineUserBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<center>
    <fieldset>
    <legend><h3>Modifier ses informations de connexion</h3></legend>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
    </fieldset>
{% endblock %}